footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FEF7ED;
    padding: 0 4rem;
}

.FirstLineSet {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.FirstLineSet h1 {
    font-size: 35px;
    letter-spacing: 3.5px;
    font-family: var(--Font2);
}

.FirstLineSet hr {
    height: 30px;
}

.FirstLineSet span {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: var(--Font4);
    display: flex;
    align-items: center;
}

.FirstLineSet span p {
    font-size: 14px;
    margin: 0 4px;
    font-weight: 500;
}

.SecondLineFoot {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.SecondLineFoot a {
    text-decoration: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    color: #000;
}

.SecondLineFoot a:first-child i {
    color: #1877F2;
}

.SecondLineFoot a:nth-child(2) i {
    color: #FF0000;
}