.BigBoxHeroD {
    width: 100vw;
    position: relative;
    overflow: hidden;
    top: 80px;
    height: calc(100vh - 80px);
}

.HexaBoxSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    position: relative;
    margin: 2.5rem 0 0 5rem;
    pointer-events: none;
}

.InOneLine {
    display: flex;
    align-items: center;
}

.hexagon {
    width: 250px;
    height: 300px;
    clip-path: path('M 125,10 C 140,10 240,60 240,80 L 240,220 C 240,240 140,290 125,290 C 110,290 10,240 10,220 L 10,80 C 10,60 110,10 125,10 Z');
    opacity: 0;
    scale: 0.5;
    transition: 2s ease-in-out;
}

.hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TopSet2 {
    position: absolute;
    top: 240px;
    left: 145px;
}

.TopSet3 {
    position: absolute;
    top: 480px;
    left: 20px;
}

.BigBoxHeroD .LatestHeader {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(0, -50%);
    opacity: 0;
    filter: blur(10px);
    transition: 1.8s ease-in-out;
}

.BigBoxHeroD .LatestHeader h1 {
    line-height: 45px;
    letter-spacing: -1px;
    font-size: 50px;
}

.BigBoxHeroD .LatestHeader .BtnExplore {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 13px 30px;
    margin-top: 2rem;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.3);
}



/* ---------------  Animation Is Here --------------- */



.hexagon.showAnimation {
    scale: 1;
    opacity: 1;
}

.BigBoxHeroD .LatestHeader.showAnimation {
    opacity: 1;
    filter: blur(0);
}