.ImagePopUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 990;
}

.ImagePopUpContent {
    position: relative;
    width: 90%;
    /* max-height: 95%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #111;
    border-radius: 12px;
    padding: 1rem;
}

.CloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.BigImageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BigImage {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 10px;
    pointer-events: none;
    margin: 20px 0 20px;
    box-shadow: 0 0 4px 5px rgba(255, 255, 255, 0.2);
}

.PogdaActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.PopUpSetActions {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.FreeToUse {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
    padding: 13px 20px;
    border-radius: 8px;
}

.FreeToUse i {
    font-size: 18px;
    margin-right: 5px;
}

.FreeToUse span {
    font-size: 14px;
    color: #ffffffe7;
}

.SharePopUpBtn {
    padding: 11px 20px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SharePopUpBtn i {
    font-size: 22px;
    margin-right: 6px;
}

.SharePopUpBtn span {
    font-size: 17px;
    font-weight: 550;
}

.PopupActions {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.PopupActions button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.DownloadPopUpBtn {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    background-color: #099344;
    color: #fff;
    letter-spacing: 0.3px;
}

.DownloadPopUpBtn svg {
    width: 25px;
    margin-right: 10px;
}

.LikePopUpBtn {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    background-color: #000;
    color: #fff;
    letter-spacing: 0.3px;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
}

.LikePopUpBtn i {
    margin-right: 5px;
    font-size: 22px;
    font-weight: 100 !important;
}

.ThumbnailStrip {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding: 0.5rem 0;
    justify-content: center;
}

.ThumbnailStrip::-webkit-scrollbar {
    display: none;
}

.Thumb {
    height: 70px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 6px;
    transition: 0.2s;
}

.Thumb.active,
.Thumb:hover {
    opacity: 1;
    transform: scale(1.05);
}

.ExcellentPosition {
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.ExcellentPosition button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 50px;
    color: #fff;
    height: 80px;
    width: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    justify-content: center;
}

.ExcellentPosition button:hover {
    background-color: #ffffff18;
}

.ExcellentPosition button:active i {
    scale: 0.85;
}