.LatestStyDC {
    height: 90vh;
}

.LatestStylingSet {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
}

.FirstLineCollage {
    display: flex;
    align-items: end;
}

.SecondLineCollage,
.ThirdLineCollage {
    display: flex;
    align-items: start;
}

.Box {
    border: 11px solid #fff;
    background-color: rgba(229, 229, 229, 0.783);
}

.Box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box1 {
    height: 150px;
    width: 150px;
    border-right: none;
}

.Box2 {
    height: 280px;
    width: 220px;
}

.Box3 {
    width: 455px;
    border-left: none;
    height: 220px;
}

.Box4 {
    height: 150px;
    width: 150px;
    border-left: none;
}

.SecondLineCollage .Box,
.ThirdLineCollage .Box {
    border-top: none;
}

.Box5 {
    height: 190px;
    width: 240px;
    border-right: none;
}

.Box6 {
    height: 250px;
    width: 400px;
}

.Box7 {
    height: 190px;
    width: 240px;
    border-left: none;
}

.ThirdLineCollage {
    position: relative;
    margin-left: 50px;
}

.Box8 {
    width: 150px;
    height: 120px;
    border-right: none;
}

.Box9 {
    width: 200px;
    height: 155px;
}

.Box10 {
    width: 150px;
    height: 120px;
    border-left: none;
    position: absolute;
    left: calc(107% - 25px);
    top: -60px;
}