.LatestCol {
    height: 95vh;
    padding-top: 10rem;
}

.LatestHeader {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.LatestHeader h1 {
    font-family: var(--Font3);
    font-size: 43px;
}

.LatestHeader p {
    font-size: 20px;
    letter-spacing: 0.3px;
    font-family: var(--Font2);
    letter-spacing: 1.5px;
    line-height: 22px;
}

.BoxOfSmallWid {
    margin: 5rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100vw;
    padding: 0 5rem;
}

.ImageWid {
    width: 200px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.45s ease-in-out;
    position: relative;
}

.ImageWid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
    transition: 0.3s ease-in-out;
}

.LatestImgDetail {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px 15px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.6s ease-in-out;
    transform: translateY(50px);
}

.LatestImgDetail h2 {
    font-weight: 450;
    font-family: var(--Font2);
    letter-spacing: 3px;
    color: #ffffffe6;
}

.ShowMore {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    color: #ffffffa4;
    font-size: 14px;
    margin-top: 5px;
}

.ImageWid:hover {
    width: 1000px !important;
}

.ImageWid:hover img {
    filter: brightness(60%);
}

.ImageWid:hover .LatestImgDetail {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}