.BigSearchPopUp {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InsideSearchPopUp {
    width: 570px;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.InsideSearchPopUp h1 {
    font-family: var(--Font3);
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 550;
}

.InputZIcon {
    display: flex;
    align-items: center;
    background-color: #00000015;
    border-radius: 8px;
    width: 100%;
    margin-top: 13px;
    padding-right: 13px;
}

.InputZIcon i {
    font-size: 24px;
    padding-left: 13px;
}

.InputOPlace {
    width: 100% !important;
    border: none;
    font-size: 16px;
    font-weight: 550;
    outline: none;
    padding: 18px 14px;
    background-color: transparent;
    position: relative;
}

.InputZIcon .KeyBoardStyle {
    display: flex;
    align-items: center;
    height: 40px;
    width: 60px;
    background-color: #00000017;
    justify-content: center;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 2px;
}

.InsideSearchPopUp h2 {
    margin-top: 30px;
    font-size: 20px;
    font-family: var(--Font3);
    letter-spacing: -0.7px;
}

.SuggestionBox,
.CollectionBoxSearch {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
}

.BoxSugg {
    border: 1.2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 550;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.BoxSugg i {
    font-size: 25px;
    margin-bottom: 4px;
    color: #000000d3;
}

.BoxSugg:hover {
    border: 1.2px solid rgba(0, 0, 0, 0.4);
    background-color: #0000000c;
}

.CollectionBoxSearch {
    gap: 0;
    justify-content: space-between;
}

.ImageBoxADescri {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
}

.CollBoxSe {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 5px;
    border: 1.2px solid rgba(0, 0, 0, 0.6);
}

.CollBoxSe .Bogbox1 {
    width: 100%;
    height: 51%;
    object-fit: cover;
}

.TwoImgInline {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.TwoImgInline img {
    width: 50%;
    height: 80%;
    object-fit: cover;
}

.Description {
    display: flex;
    flex-direction: column;
}

.Description span {
    font-size: 18px;
    font-weight: 550;
}

.Description p {
    font-size: 12px;
    color: #0000008b;
    font-weight: 550;
    letter-spacing: 0.3px;
}

.ghost-suggestion {
    position: absolute;
    white-space: nowrap;
    top: 8px;
    left: 80px;
    color: #0000009f;
    font-weight: 600;
    padding: 11px;
    background-color: #66C7FF;
}

.search-wrapper {
    width: 100%;
}