@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#SplashHeading {
    font-size: 0px;
    color: #fff;
    font-family: var(--Font2);
    transition: 2s ease-in-out;
}

#SplashHeading.showAnimation {
    font-size: 150px;
}