.ExploreCaru {
    margin: 12rem auto 0;
    width: 80.45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.ExploreCaru .LatestHeader {
    margin-bottom: 4.2rem;
    transition: 3.5s ease-in-out;
}

.ExploreCaru_Swipper {
    width: 89%;
    perspective: 1000px;
    transform-style: preserve-3d !important;
    margin-bottom: 5rem;
    opacity: 0;
    scale: 0;
    transition: 3.5s ease-in-out;
}

.popular_card {
    height: 400px !important;
    width: 400px !important;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.popular_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-prev,
.swiper-slide-next {
    filter: brightness(60%);
}

.swiper-slide-next {
    margin-right: 10px;
    transform: rotateY(-20deg) scale(0.85) !important;
    transition: transform 0.5s ease;
}

.swiper-slide-prev {
    transform: rotateY(20deg) scale(0.85) !important;
    transition: transform 0.5s ease;
}

.swiper-slide {
    transition: all 0.5s ease !important;
    transform-style: preserve-3d !important;
}

.swiper-slide-active {
    transform: rotateY(0deg) scale(1) !important;
}

.nav-btn {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 35px;
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.nav-btn:hover {
    background: #444;
}

.prev-btn {
    position: absolute;
    left: 20px;
    top: 57%;
    transform: translateY(-50%);
}

.next-btn {
    position: absolute;
    z-index: 990;
    right: 20px;
    top: 57%;
    transform: translateY(-50%);
}

.SwipperHoverBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000002a;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.55s ease-in-out;
    overflow: hidden;
}

.BezTransform {
    transform: translateY(80px);
    transition: 0.55s ease-in-out;
    width: 100%;
    padding: 12px 0 8px 18px;
    background-color: #00000067;
}

.SwipperHoverBox h1 {
    font-weight: 400;
    font-family: var(--Font2);
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 33px;
}

.popular_card.swiper-slide-active .SwipperHoverBox {
    opacity: 1;
    pointer-events: auto;
}

.popular_card.swiper-slide-active .SwipperHoverBox .BezTransform {
    transform: translateY(0);
}



/* ---------------  Animation Is Here --------------- */



.ExploreCaru_Swipper.showAnimation {
    opacity: 1;
    scale: 1;
}